<li class="nav-item">
    <a class="nav-link {{ is_subpath('admin.post.index') ? 'active' }}"
       href="{{ path('admin.post.index') }}">Articles</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ is_subpath('admin.category.index')  ? 'active' }}" href="{{ path('admin.category.index') }}">Categories</a>
</li>
