{% if flash('modifie') %}
    <div class="alert text-center mt-3 alert-success">
        {{ flash('modifie') }}
    </div>
{% endif %}
{% if flash('ajouter') %}
    <div class="alert text-center mt-3 alert-success">
        {{ flash('ajouter') }}
    </div>
{% endif %}{% if flash('supprimer') %}
    <div class="alert text-center mt-3 alert-success">
        {{ flash('supprimer') }}
    </div>
{% endif %}