<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
      <link rel="stylesheet" href="/src/css/Framework/bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/css/bootstrap.css">
      <script src="/src/js/framework/jquery-3.4.1.js"></script>
      <script src="/src/js/framework/jquery.timeago.js"></script>
       <script>
        $(document).ready(function () {
            $(".timeago").timeago();
        });
    </script>
    {% endblock %}
    <title>{% block title "Mon site" %}</title>
</head>
<body>
{% include '@blog/partials/_nav.twig' %}
<div class="container-md">
    {% include '@blog/partials/_flash.twig' %}
    {% block body %}
    {% endblock %}
</div>
</body>
{% block javascript %}
{% endblock %}
</html>